{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<!-- Hero Section with Animated Background -->
<section class="hero">
  <div class="hero-overlay"></div> <!-- Dark overlay -->
  <div class="hero-content">
    <h2 class="display-3 fw-bold mb-3">MiruWear</h2>
    <p class="lead mb-5">Explorez notre boutique en ligne dès maintenant pour trouver des idées cadeaux uniques avec nos t-shirts colorés et personnalisés !</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="/product" class="btn bsb-btn-xl btn-light gap-3">Shop now!</a>
    <a href="{{ path('app_register') }}" class="btn bsb-btn-xl btn-outline-light">S'inscrire</a>
    </div>
  </div>
</section>


<!-- Section Collections -->
<section id="collections" class="py-5 d-flex justify-content-center align-items-center" style="background-image: url('img/list_deco01.png'); background-size: 100%;">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Collections</h1>
                <p>Découvrez nos collections de t-shirts pour hommes et femmes, offrant des styles colorés, fantaisistes et mignons, parfaits pour tous les goûts. Optez pour nos t-shirts personnalisés !</p>
            </div>
        </div>
    </div>
</section>




<div class="container text-center my-3 my-lg-5">
    <h2 class="font-weight-light my-lg-5 ">Idée cadeaux T-shirts</h2>
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{ asset('front-img/cadeau-1.png') }}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{ asset('/front-img/cadeau-2.png') }}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{ asset('/front-img/cadeau-3.png') }}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{ asset('/front-img/cadeau-4.png') }}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{ asset('/front-img/cadeau-5.png') }}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{ asset('/front-img/cadeau-6.png') }}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <h5 class="mt-2 fw-light my-lg-5">
        <a href="/product" class="btn btn-dark btn-degrade text-dark" role="button">Voir nos collections</a>
    </h5>
</div>
</div>


<script>
let items = document.querySelectorAll('.carousel .carousel-item')

items.forEach((el) => {
    const minPerSlide = 4
    let next = el.nextElementSibling
    for (var i=1; i<minPerSlide; i++) {
        if (!next) {
            // wrap carousel by using first child
        	next = items[0]
      	}
        let cloneChild = next.cloneNode(true)
        el.appendChild(cloneChild.children[0])
        next = next.nextElementSibling
    }
})

    // Define an array of image URLs
    const images = ['front-img/background-hero-1.jpg', 'front-img/background-hero-2.jpg', 'front-img/background-hero-3.jpg'];
    let currentIndex = 0;

    // Function to change the background image
    function changeBackground() {
      const hero = document.querySelector('.hero');
      hero.style.backgroundImage = `url(${images[currentIndex]})`;
      currentIndex = (currentIndex + 1) % images.length;
    }

    // Change background every 5 seconds
    setInterval(changeBackground, 8000);

</script>
{% endblock %}