{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <form method="post" class="form-signin">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="mt-5">Se connecter à mon compte </h1>

        {# Email Field #}
        <div class="mb-3">
            <label for="inputEmail" class="visually-hidden">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="adresse email" autocomplete="email" required autofocus>
        </div>

        {# Password Field #}
        <div class="mb-3">
            <label for="inputPassword" class="visually-hidden">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
        </div>

        {# Remember Me Checkbox #}
        <div class="form-check mb-3">
            <input type="checkbox" name="_remember_me" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">enregistrer mon mot de passe</label>
        </div>

        {# CSRF Token #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {# Submit Button #}
        <button type="submit" class="btn btn-dark" type="submit">Envoyer</button>
    </form>
</div>
{% endblock %}