{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="contact d-flex justify-content-start flex-column align-items-start"> 
                <h1 class="mb-4">Se connecter à mon compte</h1>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <form method="post" class="form-signin">
                    {# Email Field #}
                    <div class="mb-3">
                        <label for="inputEmail" class="visually-hidden">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="adresse email" autocomplete="email" required autofocus>
                    </div>

                    {# Password Field #}
                    <div class="mb-3">
                        <label for="inputPassword" class="visually-hidden">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
                    </div>

                    {# Remember Me Checkbox #}
                    <div class="form-check mb-3">
                        <input type="checkbox" name="_remember_me" class="form-check-input" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">enregistrer mon mot de passe</label>
                        <p class="mt-3">Vous n'avez pas de compte? <a href="{{ path('app_register')}}">Inscrivez-vous ici</a>.</p>
                    </div>

                    {# CSRF Token #}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {# Submit Button #}
                    <button type="submit" class="btn btn-dark" type="submit">Envoyer</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <!-- Vos éléments ici -->
            </div>
        </div>
    </div>
</div>
{% endblock %}