{% extends 'base.html.twig' %}

{% block title %}Collections !{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ product.title }}! ✅</h1>

    <div class="d-flex justify-content-around align-items-center">
        {% for media in product.media %}
            <div class="product-image-container">
                <img src="{{ asset('img/' ~ media.src) }}" class="product-image" alt="{{ product.title }}" width="200">
            </div>
        {% endfor %}

        <div>
            <h2>{{ product.title }}</h2>
            <h4>{{ product.description }}</h4>
            <p>{{ product.color.name }}</p>
            <p>{{ product.size.name }}</p>
            <h4 class="text-end text-info">{{ product.price }}€</h4>
        </div>
    </div>
</div>

{% endblock %}